// Override default variables before the import

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import './defaultVariables.scss';

body {
    font: 100% $font-stack;
    color: $primary-color;
}

.bg-custom {
    background-color: $tertiary-color;
    color: $quinary-color;

    .custom-brand.navbar-brand {
        color: $quinary-color;
    }
    .custom-header-links.navbar-nav a {
        color: $quinary-color;
    }

    .custom-header-links.navbar-nav a:hover {
        background-color: $primary-color;
        color: $quinary-color;
    }

    .show.dropdown.nav-item {
        .dropdown-toggle.nav-link {
            background-color: $primary-color;
            color: $quinary-color;
        }
    }

    .dropdown-menu.show {
        background-color: $quaternary-color;
    }

    .dropdown-menu.show a:hover {
        background-color: $primary-color;
    }

    .active-header-link {
        background-color: $primary-color;
    }
}

.custom-header {
    background-color: $tertiary-color;
    color: $quinary-color;
}
.main-footer {
    background-color: $tertiary-color;
    color: $quinary-color;
}